# Created by .ignore support plugin (hsz.mobi)
/.idea/
/group8_automation.iml
/TDBank/TDBank.iml
/Cigna/Cigna.iml
/Costco/Costco.iml
/Ebay/Ebay.iml
/Facebook/Facebook.iml
/Generic/Generic.iml
/Walmart/Walmart.iml
